{##
 # SocietoBaseBundle
 # Copyright (C) 2011 Kousuke Ebihara
 #
 # This program is under the EPL/GPL/LGPL triple license.
 # Please see the Resources/meta/LICENSE file that was distributed with this file.
 #}

{% extends skin_template_path('normal_gadget.html.twig') %}

{% block caption %}{{ gadget.caption }}{% endblock %}
{% block content %}
<table>
{% for member_profile in profiles %}
<tr>
    <th>{{ member_profile.profile.label ? member_profile.profile.label : member_profile.profile.name }}</th>
    <td>
    {% if member_profile.profile.dateTimeValue %}
    {{ member_profile.value | date('Y-m-d') }}
    {% elseif member_profile.profile.fieldType == "boolean" %}
    {{ member_profile.value ? 'yes' : 'no' }}
    {% else %}
    {{ member_profile.value | nl2br }}
    {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
